name: Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest , windows-latest, macos-latest ]
        python-version: [ 3.7, 3.8, 3.9, '3.10', '3.11']
    steps:
      - name: Checkout pyfolio
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install pyfolio
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
          pip install -e .[test]

      - name: Lint with flake8
        run: |
          flake8

      - name: Tests with tox & pytest
        run: |
          tox
